/* This is far from minimal, and it doesn't seem to work the way
 * I want it to yet. */

/* In progress... */

/* Making things fullscreen */
:root {
  --bg-white: #EEE;
  --bg-gray: #999;
  --fg-gray: #222;
  --fg-gray-hover: #444;

  --border-width: 0.2rem;
  --button-bar-height: 5rem;

  --golden-ratio: 0.63;
  --label-bar-height: calc(var(--golden-ratio) * var(--button-bar-height));

  --editor-status-height: calc(var(--button-bar-height) * calc(1 - var(--golden-ratio)) + 1rem);
}

html, body {
  background-color: var(--bg-white);
  font-size: 16pt;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
}

#button-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

/* Button styling */
#button-box {
  position: absolute;
  height: var(--button-bar-height);
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 1rem 1rem;
  border: var(--border-width) solid var(--fg-gray);
  border-top: none;
  background-color: var(--bg-gray);
  
}

#generate-button {
  padding: 0.5rem;
  font-size: 20pt;
  background-color: #2C2;
  border: var(--border-width) solid var(--fg-gray);
  border-radius: 0.5rem;
  margin: 0.5rem;
}

#generate-button:hover {
  background-color: #6F6;
  border: 0.2rem solid var(--fg-gray);
}

#generate-button:disabled {
  background-color: #444;
  color: #AAA;
  border: var(--border-width) solid var(--fg-gray);
}

/* Editor parts (including output panel) */
#workspace {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.label-bar {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: var(--label-bar-height);
  background-color: var(--bg-gray);
  border-bottom: var(--border-width) solid var(--fg-gray);
}

.label-bar>h2 {
  margin: 0;
  background-color: var(--bg-gray);
}

.header-button {
  font-size: 22pt;
  border: none;
  border-bottom: var(--border-width) solid var(--fg-gray);
  padding: 0.5rem 0;
  border-radius: 0.9rem 0.9rem 0 0;
  background-color: var(--bg-white);
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}

.header-button>* {
  margin: 0 0.5em;
}

.header-button:hover {
  background-color: var(--bg-gray);
}

.helptext {
  font-size: 14pt;
  color: var(--fg-grey);
}
.grow {
  flex-grow: 1;
}

.right-align {
  text-align: right;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-height: 100vh;
}

.status {
  min-height: var(--editor-status-height);
}

.texture {
  object-fit: contain;
  margin: auto;
  padding: 1rem;
  max-width: calc(100% - 2rem);
}

.texture-container {
  border: var(--border-width) solid var(--fg-gray);
  border-radius: 1rem;
  max-height: unset;
}

#output-container {
  border-left: calc(0.5 * var(--border-width)) solid var(--fg-gray);
}

#editor-container {
  border-right: calc(0.5 * var(--border-width)) solid var(--fg-gray);
}

#editor {
  width: 95%;
  height: 95%;
  resize: none;
  border: none;
  background: var(--bg-white)
}

#output {
  flex-grow: 1;
  flex-shrink: 0;
  max-height: calc(100% - var(--label-bar-height) - var(--editor-status-height) - var(--border-width));
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#output>* {
  max-width: 90%;
}

.vertscroll {
  overflow-y: scroll;
}
