/* This is far from minimal, and it doesn't seem to work the way
 * I want it to yet. */

/* In progress... */

/* Making things fullscreen */
:root {
  --bg-gray: #999;
  --fg-gray: #222;
  --fg-gray-hover: #444;
}

html, body {
  font-size: 16pt;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
}

#button-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

/* Button styling */
#button-box {
  position: absolute;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 1rem 1rem;
  border: 0.2rem solid var(--fg-gray);
  border-top: none;
  background-color: var(--bg-gray);
  
}

#generate-button {
  padding: 0.5rem;
  font-size: 20pt;
  background-color: #2C2;
  border: 0.2rem solid var(--fg-gray);
  border-radius: 0.5rem;
  margin: 0.5rem;
}

#generate-button:hover {
  background-color: #6F6;
  border: 0.2rem solid var(--fg-gray);
}

#generate-button:disabled {
  background-color: #444;
  color: #AAA;
  border: 0.2rem solid var(--fg-gray);
}

/* Editor parts (including output panel) */
#editor {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

#editor>* {
  border: solid 0.4rem var(--fg-gray);
  display: flex;
  flex-direction: column;
}

.label-bar {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  background-color: var(--bg-gray);
  border-bottom: 0.2rem solid var(--fg-gray);
}

.label-bar>h2 {
  margin: 0;
  background-color: var(--bg-gray);
}

.container {
  max-height: 100%;
}

.texture {
  max-width: 90%;
}

#script-editor {
  width: 95%;
  height: 95%;
  resize: none;
  border: none;

}

#output {
  flex-grow: 1;
  display: flex;
  padding-top: 3rem;
  align-items: center;
  justify-content: center;
}

.vertscroll {
  overflow-y: scroll;
}
